<section>
  <div class="container">
    <div class="section">
      <h1>Confirm Selection & payment here</h1>

    </div>

    <div class="section">
      <%= link_to "Confirm", "#", class: "btn btn-primary" %>
    </div>
  </div>
</section>
