<%# Secondary Navigation bar %>
<%= render 'partials/second_nav' %>

  <div class="container">
    <!-- end -->
    <%# individual event card will be rendered as partial below %>
    <div class="row s12">

      <div class="col s12 cards-container" id="event-list">
        <h5>Favourited Events</h5>
        <%= render partial: "events/event", collection: @all_events %>
      </div>
    </div>
    <%# end card render %>
</div>
