<h1>Crafters#edit</h1>
<p>Find me in app/views/crafters/edit.html.erb</p>

<pre>
  <%= @crafter.inspect %>
</pre>

<%= form_for @crafter do |f| %>
  <%= f.text_field :id %>
  <%= f.submit 'Confirm' %>
<% end %>
