<!-- Hero Section -->
<section class="hero is-medium is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        whichcraft
      </h1>
      <h2 class="subtitle">
        for the finest of craftsmen
      </h2>
    </div>
  </div>
</section>
