<div class="container second-nav-bar">
  <div class="row">
    <div class="grid-example col s12 offset-s2">
        <a href="/", class='black-text second-nav-links col s2 center-align'>Home</a>
        <a href="/events", class='black-text second-nav-links col s2 center-align'>Events</a>
        <a href="/crafters", class='black-text second-nav-links col s2 center-align'>Crafters</a>
        <a href="/portfolios", class='black-text second-nav-links col s2 center-align'>Works</a>
    </div>
  </div>
  <div class="divider"></div>
</div>
