<div class="container second-nav-bar">
  <div class="row flex-nav">
    <div id="homepage-nav">
      <a href="/">Home</a>
    </div>
    <div id="events-nav">
      <a href="/events">Events</a>
    </div>
    <div id="crafters-nav">
      <a href="/crafters">Crafters</a>
    </div>
    <div id="works-nav">
      <a href="/portfolios">Works</a>
    </div>
  </div>
  <div class="divider cheat"></div>
</div>
