<%
    if my_fav_event?(event) == true %>
    <div class="btn-fav">
      <%= link_to(craftee_create_fav_event_path(current_craftee.id), data: {
        remote: true,
        method: :post,
        params: {
          craftee_id: current_craftee.id,
          event_id: event.id
        }.to_param
      }, class: 'favourite') do %>
      <i class="small material-icons">
          favorite
      </i>
      <% end %>
    </div>
<%  else %>
<div class="btn-fav">
  <%= link_to(craftee_create_fav_event_path(current_craftee.id), data: {
    remote: true,
    method: :post,
    params: {
      craftee_id: current_craftee.id,
      event_id: event.id
    }.to_param,
  }, class: 'favourite') do %>
  <i class="small material-icons">
      favorite_border
  </i>
  <% end %>
</div>
<%  end %>
