<%= render 'partials/second_nav' %>

<div class="container">
  <div class="section">
    <%= render 'events/eventdetails' %>
  </div>

      <% if my_event? @event %>
          <%= render partial: 'events/craftershow', locals: {categories: @categories} %>
      <% end %>

  <div class="divider"></div>

  <%= render 'events/reviews' %>

</div>
