<section>
  <div class="container">
    <div class="section">
      <%= render 'events/eventdetails' %>
    </div>
    <div class="divider"></div>
    <div class="section">
        <% if my_event? @event %>
          <p>display crafter only view</p>
          <%= render 'events/craftershow' %>
        <% else %>
          <p>display craftee view</p>
          <%= render 'events/crafteeshow' %>
        <% end %>
    </div>
  </div>
</section>
