<section>
  <div class="container">
    <div class="section">
      <h2><%= @event.name %></h2>
      <p><%= @event.description %></p>
    </div>
    <%= link_to "Edit", edit_event_path, class: "waves-effect waves-light btn" %>
  </div>
</section>
