<h1>Craftee's Profile</h1>
<div class="container">
  <%# @craftee.sessions.inspect%>

  <% @crafteeSessions = @craftee.sessions %>


  <!-- calender goes in here -->
  <%= month_calendar(attribute: :datetime_from, events: @crafteeSessions) do |date, crafteeSessions| %>
    <span id='date'><%= date.day %></span>

        <% crafteeSessions.each do |crafteeSession| %>
        <div>
          <%= crafteeSession.event.name %>
        </div>
      <% end %>
  <% end %>


    <ul>
      <% @craftee.fav_events.each do|fav_event| %>
        <li>fav_event.event</li>
      <% end %>
    </ul>

</div>
