<h1>About Page</h1>

<h4>This is being used as debugger for now</h4>
<!-- for debugging purpose !-->
<p>
  <% if user_signed_in?  %>
    <p>is_craftee_authenticated?: <%= is_craftee_authenticated? %></p>
    <p>is_crafter_authenticated?: <%= is_crafter_authenticated? %></p>
    <p>Crafter Account Activated? : <%= crafter_activated? %></p>
    <p><%= link_to 'Switch User Type', pages_switch_path%></p>
  <% end %>
</p>
