<h1>About Page</h1>

<h4>This is being used as debugger for now</h4>
<!-- for debugging purpose !-->
<p>
  <% if user_signed_in?  %>
    <p>You are logged in as user type: <%= current_user_type %></p>
    <p>Crafter Account Activated? : <%= crafter_activated? %></p>
    <p><%= link_to 'Switch User Type', pages_switch_path%></p>
  <% end %>
</p>
