
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$pink: #E56399;
$brown: #D3A588;
$creme: #ECE2D0;
$green: #7FD1B9;
$grey: #7A6563;
$tomato: #e64614;

$primary: $pink;
$info: $green;

// $header-font-type: 'Nunito', sans-serif;
// $body-font-type: 'Helvetica Neue', sans-serif;
