@import "materialize/components/color";
@import "variables";
@import "font-awesome";
@import 'slick';
// @import "bulma";
@import "materialize";



/* for edit event modal box */

#edit_event {
  max-height: 85%
}

/* some css that I (tom) added for crafters controller */
/* shirong you can change this as you like later <3  */
* {
  box-sizing: border-box;
}

div.custom-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.custom-one-third {
    width: 24%;
    margin-bottom: 20px;
  }

// div.card {
//   height: 520px;
// }


h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-type;
}

.footer {
  li {
    font-size: 30px;
    transition: all 3s;

    &:hover {
      font-weight: bold;
      font-size: 10 + 20px;
    }

    &.important {
      font-style: italic;
    }
  }
}

.modal {
  max-height: 90%;
}

.modal-form-row {
  margin-bottom: 0px;
}


.material-icons {
  margin-top: 2%;
}

i.icon-black {
    color: black;
    margin-left: 5%;
}


.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
    font-size: 0.8em;
}

.carousel{
  margin-top: -5%;
}

.featured_events_h4 {
  margin-top: 10%;
}



header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.body_container{
  margin-top: 4%;
}
