@import "materialize/components/color";
@import "variables";
@import "font-awesome";
@import 'slick';
@import "materialize";
@import "simple_calendar";

/* testing ajax with fav event */
#favourite {
  background-color: red;
}

.cal-format {
  height: 80px;
  overflow-y: scroll;
}

/* search list <li> */
div#search-events {
  position: relative;
}

div#search-item-list {
  position: absolute;
  background-color: white;
  overflow-y: auto;
  width: 100%;
  max-height: 50vh;
  z-index: 999;
}

div.item-box {
  position: relative;
  height: 60px;
  div.inside-item-box {
    padding: 10px;
    // margin: 10px 0 10px 15px;
  }
  &:hover {
    background-color: #EEEEEE;
  }
  li {
    list-style-type: none;
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
  }
}

.cal-format {
  height: 80px;
  overflow-y: scroll;
  text-align: left;
}

.simple-calendar .day {
  height: 100px;
}

/* for edit event modal box */
#edit_event {
  max-height: 85%
}

/* to align material icons DOESNT WORK */
.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

/* some css that I (tom) added for crafters controller */
/* shirong you can change this as you like later <3  */
* {
  box-sizing: border-box;
}

div.custom-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.custom-one-third {
    width: 24%;
    margin-bottom: 20px;
  }

// div.card {
//   height: 520px;
// }


h1, h2, h3, h4, h5, h6 {
  // font-family: $header-font-type;
}

.footer {
  li {
    font-size: 30px;
    transition: all 3s;

    &:hover {
      font-weight: bold;
      font-size: 10 + 20px;
    }

    &.important {
      font-style: italic;
    }
  }
}

.modal {
  max-height: 90%;
}

.modal-form-row {
  margin-bottom: 0px;
}


.material-icons {
  margin-top: 2%;
}

i.icon-black {
    color: black;
    margin-left: 5%;
}


.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
    font-size: 0.8em;
}

.carousel{
  margin-top: -5%;
}

.featured_events_h4 {
  margin-top: 5%;
}



header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.body_container{
  margin-top: 4%;
}

.simple-calendar {
  .day {
    border: 1px black solid;
  }

  .wday-0 {
    vertical-align: top;
    text-align: right;
  }
  .wday-1 {
    vertical-align: top;
    text-align: right;


  }
  .wday-2 {
    vertical-align: top;
    text-align: right;


  }
  .wday-3 {
    vertical-align: top;
    text-align: right;


  }
  .wday-4 {
    vertical-align: top;
    text-align: right;

  }
  .wday-5 {
    vertical-align: top;
    text-align: right;


  }
  .wday-6 {
    vertical-align: top;
    text-align: right;
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.second-nav-bar {
  margin-top: 2%;
}

.second-nav-links:hover {
  font-size: 16px;
  transition: font 0.8s ease;
}



p {
  text-align: justify;
}

td {
  vertical-align: top;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    transform: translateZ(0);
    display: inline-block;
    // overflow: invisible;
  }
}

#edit-profile-update-button {
  margin-top: 3%;
}

#create-new-event-btn {
  margin-top: 1%;
}

#all-crafters-container {
  margin-top: 1%;
}

#all-portfolio-items-container{
  margin-top: 1%;
}

.pagination a li.active{
  color: #fff;
}

#reviewsCard {
    height: 400px;
    overflow-y: scroll;

}
