@import "materialize/components/color";
@import "variables";
@import "font-awesome";
@import 'slick';
@import "materialize";
@import "simple_calendar";

/* event-show-image */
.event-details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h4 {
    margin-top: 0;
  }

  .btn-fav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    a {
      color: red;
    }
  }
  .btn-edit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
  }

}

.cal-format {
  height: 80px;
  overflow-y: scroll;
}

/* search list <li> */
div.search-box {
  position: relative;

  div.search-item-list {
    position: absolute;
    background-color: white;
    overflow-y: auto;
    width: 100%;
    max-height: 50vh;
    z-index: 999;

    div.item-box {
      position: relative;
      height: 60px;
      div.inside-item-box {
        padding: 10px;
        // margin: 10px 0 10px 15px;
      }
      &:hover {
        background-color: #EEEEEE;
      }
      li {
        list-style-type: none;
        clear: both;
        color: rgba(0, 0, 0, 0.87);
        min-height: 50px;
        line-height: 1.5rem;
        width: 100%;
        text-align: left;
        text-transform: none;
      }
    }
  }
}


.cal-format {
  height: 80px;
  overflow-y: scroll;
  text-align: left;
}

.simple-calendar .day {
  height: 100px;
}

/* for edit event modal box */
#edit_event {
  max-height: 85%
}

/* to align material icons DOESNT WORK */
.material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

/* some css that I (tom) added for crafters controller */
/* shirong you can change this as you like later <3  */
* {
  box-sizing: border-box;
}

div.custom-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.custom-one-third {
    width: 24%;
    margin-bottom: 20px;
  }

// div.card {
//   height: 520px;
// }


h1, h2, h3, h4, h5, h6 {
  // font-family: $header-font-type;
}

.footer {
  li {
    font-size: 30px;
    transition: all 3s;

    &:hover {
      font-weight: bold;
      font-size: 10 + 20px;
    }

    &.important {
      font-style: italic;
    }
  }
}

.modal {
  max-height: 90%;
}

.modal-form-row {
  margin-bottom: 0px;
}


.material-icons {
  margin-top: 2%;
}

i.icon-black {
    color: black;
    margin-left: 5%;
}


.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
    font-size: 0.8em;
}

.carousel{
  margin-top: -8%;
  padding-bottom: 0px;
}

.carousel .carousel-item > img {
    width: 100%;
    height: 100%;
}

.featured_events_h4 {
  margin-top: 5%;
}



header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.body_container{
  margin-top: 4%;
}

.simple-calendar {
  .day {
    border: 1px black solid;
  }

  .wday-0 {
    vertical-align: top;
    text-align: right;
  }
  .wday-1 {
    vertical-align: top;
    text-align: right;


  }
  .wday-2 {
    vertical-align: top;
    text-align: right;


  }
  .wday-3 {
    vertical-align: top;
    text-align: right;


  }
  .wday-4 {
    vertical-align: top;
    text-align: right;

  }
  .wday-5 {
    vertical-align: top;
    text-align: right;


  }
  .wday-6 {
    vertical-align: top;
    text-align: right;
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

.second-nav-bar {
  margin-top: 2%;
}

.flex-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  div {
    width: 120px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    a {
      color: black;
    }
  }
  div.aktif {
    background-color: #9C9990;
    a {
      color: white;
    }
  }
}

.cheat {
  margin-bottom: 30px;
}

.second-nav-links:hover{
  /* hover state */
  font-size: 13px;
}

p {
  text-align: justify;
}

td {
  vertical-align: top;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    transform: translateZ(0);
    display: inline-block;
    // overflow: invisible;
  }
}

#edit-profile-update-button {
  margin-top: 3%;
}

#create-new-event-btn {
  margin-top: 1%;
}

#all-crafters-container {
  margin-top: 1%;
}

#all-portfolio-items-container{
  margin-top: 1%;
}

.pagination a li.active{
  color: #fff;
}

#reviewsCard {
    height: 400px;
    overflow-y: scroll;
    box-sizing: border-box;
    .review-card {
      min-height: 50%;
      margin: 0;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
}

.align-right {
   float: right;
}


#tpBtn {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
}

.crafter-promo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 10px 0 0 0;
  .crafter-promo-image {
    img {
      object-fit: cover;
      width: 250px;
      height: 250px;
      border-radius: 100%;
    }
  }
  .flex-content {
    display: flex;
    justify-content: space-around;
    p {
      margin-top: 0;
    }
  }
}

div.image-snippet {
  width: 200px;
  height: 200px;
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

.divider {
  margin-bottom: 50px;
}
