@import "variables";
@import "font-awesome";
@import 'slick';
@import "bulma";


/* some css that I (tom) added for crafters controller */
/* shirong you can change this as you like later <3  */
* {
  box-sizing: border-box;
}

div.custom-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.custom-one-third {
    width: 24%;
    margin-bottom: 20px;
  }

div.card {
  height: 520px;
}

/* end */


body {
  font: 100% $body-font-type;
  color: $grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-type;
}

.footer {
  li {
    font-size: 30px;
    transition: all 3s;

    &:hover {
      font-weight: bold;
      font-size: 10 + 20px;
    }

    &.important {
      font-style: italic;
    }
  }
}

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
