<h1>index</h1>
<p>display all portfolio items</p>

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn" href="#modal1">Create New Portfolio Item</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Create New Item</h4>
        <%= render 'portfolio_items/newItemForm' %>
    </div>
    <div class="modal-footer">
    </div>
  </div>
